<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.1">
  <web_1:listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </web_1:listener>
  <web_1:context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:/config/log/logback.xml</param-value>
  </web_1:context-param>
  <web_1:listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </web_1:listener>
  <web_1:context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/config/spring/context-*.xml</param-value>
  </web_1:context-param>
  <web_1:context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>hs_gms_srv_api.root</param-value>
  </web_1:context-param>
  <resource-ref>
    <res-ref-name>jdbc/oracleDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/freeDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <web_1:servlet>
    <web_1:servlet-name>spring</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet</web_1:servlet-class>
    <web_1:init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>1</web_1:load-on-startup>
    <web_1:multipart-config>
      <web_1:max-file-size>3145728000</web_1:max-file-size>
      <web_1:max-request-size>3145728000</web_1:max-request-size>
      <web_1:file-size-threshold>0</web_1:file-size-threshold>
    </web_1:multipart-config>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>spring</web_1:servlet-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:filter>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.CharacterEncodingFilter</web_1:filter-class>
    <web_1:init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>CORSFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.DelegatingFilterProxy</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>CORSFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>xssFilter</web_1:filter-name>
    <web_1:filter-class>com.hs.gms.std.common.security.xss.XSSFilter</web_1:filter-class>
    <web_1:init-param>
      <param-name>level</param-name>
      <param-value>LOW</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>xssFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>mdcFilter</web_1:filter-name>
    <web_1:filter-class>com.hs.gms.std.common.log.MDCFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>mdcFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:security-constraint>
    <web_1:web-resource-collection>
      <web_1:url-pattern>/*</web_1:url-pattern>
      <web_1:http-method>HEAD</web_1:http-method>
      <web_1:http-method>PATCH</web_1:http-method>
      <web_1:http-method>TRACE</web_1:http-method>
    </web_1:web-resource-collection>
    <web_1:user-data-constraint>
      <web_1:transport-guarantee>CONFIDENTIAL</web_1:transport-guarantee>
    </web_1:user-data-constraint>
  </web_1:security-constraint>
  <web_1:error-page>
    <web_1:error-code>400</web_1:error-code>
    <web_1:location>/error/400</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>403</web_1:error-code>
    <web_1:location>/error/403</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>404</web_1:error-code>
    <web_1:location>/error/404</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>405</web_1:error-code>
    <web_1:location>/error/405</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>406</web_1:error-code>
    <web_1:location>/error/406</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>408</web_1:error-code>
    <web_1:location>/error/408</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>409</web_1:error-code>
    <web_1:location>/error/409</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>413</web_1:error-code>
    <web_1:location>/error/413</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>414</web_1:error-code>
    <web_1:location>/error/414</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>415</web_1:error-code>
    <web_1:location>/error/415</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>500</web_1:error-code>
    <web_1:location>/error/500</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:location>/error</web_1:location>
  </web_1:error-page>
</web_1:web-app>